* {
    margin: 0px;
    padding: 0px;
  }

  body {

margin-top: 70px;    font-size: 120%;
    font-family: 'Poppins', sans-serif;
    height: 90vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    scroll-behavior:smooth;
  }

  form, .content {
    font-family: 'Poppins', sans-serif;
    color:  #0eefff;
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background-color:rgba(80, 100, 100, 0.377);
    border-radius: 0px 0px 10px 10px;
  }

  .input-group {
    margin: 30px 0px 10px 0px;
  }

  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    margin-top: 30px;
  }

  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }


    .btn{
      padding: 8px;
      border-radius: 6px;
      line-height: 17px;
      width: 30vh;
      margin-left: 100px;
      border-style: solid;
      cursor: pointer;
      background-color: rgb(153, 161, 161);
      color: rgb(255, 255, 255);
      font-size: 17px;
      font-weight: 700;
  }

  button[type="submit"]:active{
    background: linear-gradient(90deg,#5a6061fd,#555053);
    opacity: 100%;
}

.link{
  margin: 2px;
  font-family:'Poppins', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.link:hover{
  color:  #00eeff;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

  .error {
    width: 70%; 
    margin: 0px auto; 
    padding: 5px; 
    border: 1px solid #b92c29; 
    color: #b3302e; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: center;
  }

  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  h2{
    text-align: center;
    margin-top: 0px;
  }
body{
  background-color: #c8b9b9;
}